h3{
	font-size:30px ;
	color: white;
	background-color: black;
}

.wrapper{
	width: 60%;
	margin: 0 auto;	
	border: 5px solid #ddd;
}
.first_name,.last_name,.email,.password {
    width: 90%;
    height: 20px;
    padding: 10px;
    font-size: 15px;
}
label{
	font-size: 20px;
}

.messages {
    padding: 10px;
    font-size: 15px;
}

table{
	width: 100%;
	border: 1px solid black;
}

th,td{
	font-size: 20px;
	text-align: center;
	border: 1px solid black;
}

